*.venv
__pycache__
*vuln-scan/
ml-classifier/src/*egg-info
ml-classifier/data/scans*/
ml-classifier/data/labels*/
ml-classifier/training-runs/*

software-prototype/.venv/
software-prototype/dist/
software-prototype/build/
software-prototype/*.egg-info/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
